.back{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 1% 5% 1% 5%;
  background-color: white;
  border-radius: 5%;
}
.back1 {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   
    padding: 3em 6em 1em 6em;
    
    background-color: white;
    border-radius: 3em;
}

.title{
    
    color:#48bb78 ;
    font-size: 410%;
    margin: 10%;
    background-color: white;
    
}
.sub-title{
    padding-left: 25px;
    font: bolder ;
    font-size: 40px;
    color: #48bb78;
    margin-left: -10%;
    background-color: white;
    
}

.form-field{
border-radius: 10px;

    margin: 10px 0 20px 7%;
        padding: 15px;
        font-size: 120%;
        width: 80%;
        font: bold;
        border: 0;
        font-family: "Roboto", sans-serif;
        background-color: #DCDCDC;
        color: #3c3a3a;
        display: flex;
        flex-direction: column;
}

.sel-ect{
    padding-top: 5%;
    padding-left: 10%;
    margin-bottom: 5%;
    width:100%;
    color: #3c3a3a;
    display: flex;
    justify-content: center;    
    background-color: white;
    
}

.next-button{
    margin-top: 8%;
    font-weight: bold;
        color: white;
        font: 120%;
        margin-left: 67%;
        margin-bottom: 4%;
        background-color: #48bb78;
        width: 30%;
}
.next-button:hover{
    transform: scale(1.1);
    transition: .5s;

}
.sel{
    margin-top: 30px;
    width: 11em;
    font-size: 18px;
    font-style: oblique;
    padding-right:10%;
    color: #3c3a3a;
    background-color: #DCDCDC;  
    margin-bottom: 20px;
}
.text-area{
    margin-top: 50px;
        margin-bottom: 50px;
        width: 500px;
        height: 500px;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
        border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
        border-image: none;
        border-radius: 6px 6px 6px 6px;
        border-style: none solid solid none;
        border-width: medium 1px 1px medium;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        color: #555555;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1em;
        line-height: 1.4em;
        padding: 5px 8px;
        transition: background-color 0.2s ease 0s;
}
.text-area:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.file{
    opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
        
}
.file-input{
    background-color: white;
}
.file-input label{
    display: block;
margin-left: 30px;
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background: #48bb78;
        
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s ease-out;
}
.file-input label:hover{
box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
transition: .5s;
}
.sign p{
    background-color:#fff;
    color: red;
}